/*!
Theme Name: lestoescritorios
Theme URI: http://underscores.me/
Author: HC desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: lestoescritorios
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

lestoescritorios is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------

**** FONTS
**** DECLARAÇÃO DE VARIAVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PAGINAS
**** PAGINA INICIAL
**** EXTRAS
**
*/

@import url('css/dicas.css');

@import url('css/salas.css');

@import url('css/planos.css');

@import url('css/home.css');

@import url('css/localizacao.css');

@import url('css/contato.css');

@import url('css/header.css');

@import url('css/footer.css');

*{
  margin: 0;
  padding: 0;
}
/*DECLARAÇÃO DE VARIAVEIS*/

  :root{

   

    /* FONTES */

    --Lesto_OpenSans:'Open Sans', sans-serif;



    /* CORES FONTS */

    --Lesto_fontClara:#fff;

    --Lesto_fontCinza:#414141;

    --Lesto_fontPreta:#000;



    /* CORES TEMPLATE */

    --Lesto_templateBranco:#fff;

    --Lesto_templatePreto:#000;

    --Lesto_templateVerde:#0fa448;

    --Lesto_templateCinzaEscuro:#414141;

    --Lesto_templateCinzaClaro:#dfdbdc;





    --Lesto_templateClara:#08a74b;

    --Lesto_templateEscura: #0fa448;

    

     /* CORES BOTÃƒÆ’Ã¢â‚¬Â¢ES */

    --Lesto_btsClara:#08a74b;



    /* FONT SIZE*/

    --Lesto_sizeTituloPadrao:80px;

    --Lesto_sizeTextoPadrao:16px;

    --Lesto_sizeTextoHome:16px;

  }

   



/* BODY */

  p,h1,h2,h3,h4{

      margin:0;

    }

  ul{

    padding: 0;

    margin:0;

    list-style: none;

  }

  body{

    position: relative;

  }







/*GERAL e MOBILE*/



  /*BANNER PAGINA*/

    section{

      

    }

      section.bannerPagina {

        width: 100%;

        background-size: cover!important;

        z-index: 3;

        position: relative;

        height: 330px;

      }

      

      section.bannerPagina h2.nomePagina {

          font-weight: bold;

          width: 100%;

          position: absolute;

          text-align: center;

          background: #cdcdcd96;

          padding: 50px 0;

          bottom: 0;

        }

    

  /*TITULOS*/
    div.pg.lesto-home>section.lesto-unidades .titulo,
    div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo, 

    .lesto-fale-conosco .container form .form-titulo, 

    .lesto-fale-conosco .container form .area-contato .contato-titulo, 

    div.pg.lesto-home>section.lesto-estatistica .titulo, div.pg.planos>section.planos-detalhados .titulo,

    div.pg.salas>section.salas-lesto .titulo, div.pg.dicas>section.dicas-lesto .conteudo .titulo,  div.pg.post>section.lesto-post .titulo,

    div.pg.post>section.post-relacionados .titulo{

      display: block;

      max-width: 100%;

      margin: 30px auto;

      text-align: center;

      position: relative;

      width: 100%;

      font-size: 24px;

      font-weight: 700;

    }

      div.pg.lesto-home>section.lesto-unidades .titulo span,
      div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span, 

      .lesto-fale-conosco .container form .form-titulo span, 

      .lesto-fale-conosco .container form .area-contato .contato-titulo span, 

      div.pg.lesto-home>section.lesto-estatistica .titulo span, div.pg.planos>section.planos-detalhados .titulo span,

      div.pg.salas>section.salas-lesto .titulo span, div.pg.dicas>section.dicas-lesto .conteudo .titulo span, 

      div.pg.post>section.lesto-post .titulo span,

      div.pg.post>section.post-relacionados .titulo span{

        position: relative;

        display: block;

        max-width: 288px;

        margin: 0 auto;

       }

       div.pg.lesto-home>section.lesto-unidades .titulo span:before,
      div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span:before,

      div.pg.post>section.lesto-post .titulo span:before, 

      .lesto-fale-conosco .container form .form-titulo span:before,

      .lesto-fale-conosco .container form .area-contato .contato-titulo span:before, 

      div.pg.lesto-home>section.lesto-estatistica .titulo span:before,

      div.pg.planos>section.planos-detalhados .titulo span:before, 

      div.pg.salas>section.salas-lesto .titulo span:before, 

      div.pg.dicas>section.dicas-lesto .conteudo .titulo span:before, 

      div.pg.post>section.post-relacionados .titulo span:before, div.pg.post>section.post-relacionados .titulo span:before {

        content: "";

        position: absolute;

        border-bottom: 5px solid #0fa448;

        width: 79%;

        bottom: -5px;

        z-index: 1;

        left: -5px;

      }

      div.pg.lesto-home>section.lesto-unidades .titulo span:after,
      div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span:after,  div.pg.post>section.lesto-post .titulo span:after, 

      .lesto-fale-conosco .container form .form-titulo span:after,

      .lesto-fale-conosco .container form .area-contato .contato-titulo span:after,

      div.pg.lesto-home>section.lesto-estatistica .titulo span:after,

      div.pg.planos>section.planos-detalhados .titulo span:after, 

      div.pg.salas>section.salas-lesto .titulo span:after,

      div.pg.dicas>section.dicas-lesto .conteudo .titulo span:after,

      div.pg.post>section.post-relacionados .titulo span:after{

        content: "";

        position: absolute;

        border-bottom: 5px solid #000;

        width: 25%;

        bottom: -5px;

      }  

  

/*FORMULARIO DE CONTATO */

  .lesto-fale-conosco {
    padding:20px;
      } 
        .lesto-fale-conosco .container {

        }  
          .lesto-fale-conosco .container form{

          }
            .lesto-fale-conosco .container form .form-titulo{

            } 
              .lesto-fale-conosco .container form .form-titulo span{

              }
              .lesto-fale-conosco .container form .form-titulo span:before{
                  
              } 
            .lesto-fale-conosco .container form .form-subtitulo{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 25px;

              } 
              .lesto-fale-conosco .container form .form-subtitulo p{
                font-size: 16px;
                }
              
              .lesto-fale-conosco .container form .form-subtitulo span{
                font-size: 25px;
                font-weight: 600;

                }                  
                .lesto-fale-conosco .container form .form-subtitulo span p{

                }
             .lesto-fale-conosco .container form .form-info{
              color: #000;
              font-size:18px;
             }
            .lesto-fale-conosco .container form .info{
              width: 49%;
              display: inline-block;

            }
            .lesto-fale-conosco .container form .info.full{
              width: 100%;

             }


            .lesto-fale-conosco .container form .info input{
              display: inline-block;
              width: 49%;
              padding: 7px;
              border: 1px solid #c3c3c3;
              margin: 5px 0;
              padding-left: 15px;
            }        
            .lesto-fale-conosco .container form .info.full input{
              display: block;
              width: 99%;
              margin: 10px 0;
            }         
              .lesto-fale-conosco .container form .info label{

                display: none;

                } 
            .lesto-fale-conosco .container form .textarea{
              margin:8px 0!important;
              height: 180px;

              }
              .lesto-fale-conosco .container form .textarea label{
                display:none;
              }

              .lesto-fale-conosco .container form .info input{
                width: 100%;
                }
              .lesto-fale-conosco .container form textarea{
                width: 99%!important;
                resize: none;
                height: 100%;
                border: 1px solid #c3c3c3;
                padding-left: 15px;
                }
              .lesto-fale-conosco .container form input,
              .lesto-fale-conosco .container form textarea {
                  display: block;
              }

              ::-webkit-input-placeholder {
                 color:  #000;
              }

              :-moz-placeholder {
                 color:  #000;
              }

              ::-moz-placeholder {
                 color:  #000;  
              }

              :-ms-input-placeholder {  
                 color:  #000;  
              }
              .lesto-fale-conosco .container form .btn-enviar{

               } 
                .lesto-fale-conosco .container form .btn-enviar input{
                  font-size: 24px;
                  color: #fff;
                  background: var(--Lesto_btsClara);
                  padding: 3px 40px;
                  cursor: pointer;
                  margin: 5px 0;
                  border: 0;
                  font-weight: 600;

                  }   
                 .lesto-fale-conosco .container form .btn-enviar input:hover, div.pg.lesto-home>section.lesto-fale-conosco .container form .btn-enviar input:hover, div.pg.lesto-home>section.lesto-unidades .lesto-unidade .lesto-info-home .btn-saiba-mais:hover, div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li .btn-saiba-mais:hover{
                    background: -webkit-linear-gradient( #33bf6e,#0fa448);
                    background: -moz-linear-gradient( #33bf6e,#0fa448);
                    background: -o-linear-gradient( #33bf6e,#0fa448);
                    background: linear-gradient( #33bf6e,#0fa448);
                    -webkit-transition: background 1s ease-out;
                    -moz-transition: background 1s ease-out;
                    -o-transition: background 1s ease-out;
                    transition: background 1s ease-out;
                 }    
          .lesto-fale-conosco .container form .area-contato{

            }
            .lesto-fale-conosco .container form .area-contato .contato-titulo{
              margin: 15px auto;
              font-weight: 600;

              }    
              .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos{
              color: #0fa448;
              }
              .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul{
                display: flex;
                align-items: center;
                justify-content: space-around;

                } 
                .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li{

                  display: inline-block;

                  }
                  .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato{
                    display: block;
                    width: 75px;
                    min-height: 75px;
                    border: 1px solid #0fa448;
                    border-radius: 100%;
                    text-align: center;
                    margin: 0 auto;

                    }                 
                    .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato i{

                      font-size: 40px;

                      padding: 16px;

                      }  
                  .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato.meio{
                    background: #0fa448;
                    color: #fff;
                  }

                  .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li span{

                  }







/*@MEDIA QUERY*/

  @media(max-width: 1100px){

    

  }



  @media(max-width: 991px){

    div.pg.contato>section.lesto-fale-conosco .container form .form-info {

      padding-right: 0;

    }

    

  }

  @media(max-width: 768px){

    div.pg.lesto-home>section.lesto-unidades .lesto-unidade {

      margin-bottom: 20px;

    }

    div.pg.lesto-home>section.lesto-unidades .lesto-unidade .desktop{

      display: none;

    }

    div.pg.lesto-home>section.lesto-unidades .lesto-unidade .mobile {

      display: block;

    }

    .topo.thin{

     background: #fff;

     box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.54);



    }

    .topo{

     background: #fff;



    }

    div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span {

      position: relative;

      display: block;

      width: 145px;

      margin: 0 auto;

    }

    div.pg.lesto-home>section.lesto-unidades .lesto-unidade figure img{

        height: auto!important;

    }

    div.pg.lesto-home>section.lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li span {

      font-size: 11px;

    }

    div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul{

      flex-wrap: wrap;

    }

    div.pg.lesto-home>section.lesto-quem-somos-home {

      padding: 20px;

    }

    .topo .navbar button{

      display: block;

      right: 0;

      margin: 0;

      top: -38px;

    }

    .topo .navbar button span.icon-bar {

      background: #0fa448;

      height: 2.5px;

    }

    .topo .navbar .navbar-header .navbar-collapse .navbar-nav li{

      display: block;

      text-align: left;

    }

    .topo .navbar .navbar-header .navbar-collapse .navbar-nav{

      margin: 0;

    }

    .topo a img{

      margin-top: 0;

    }

    .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a{

      padding: 10px 15px;

      font-size: 13px;

    }

    .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a.user{



    }

    div.pg.lesto-home>section.lesto-fale-conosco .container form .form-subtitulo span {

      font-size: 18px;

    }

    footer.lesto-rodape .conteudo ul li .info-footer{

      text-align: center;

    }

    footer.lesto-rodape .conteudo ul li .info-footer .foto-insta img{

      max-width: 144px;

    }

    div.pg.dicas>section.dicas-lesto .conteudo .titulo {

      font-size: 20px;

   }

   div.pg.dicas>section.dicas-lesto .conteudo .titulo span:before {

    max-width: 224px;

    left: 28%;

   }





  }

  @media(max-width: 600px){

    footer.lesto-rodape .conteudo ul{

      flex-direction: column;

      justify-content: center;

      align-items: center;

      align-self: center;

    }



    .copyright{

      flex-direction: column-reverse;

      align-items: center;

    }

    .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato{

      width: 44px;

      min-height: 44px;

    }

    .lesto-fale-conosco .container form .area-contato .lesto-outros-contatos ul li .icone-contato i{

      padding: 8px;

      font-size: 25px;

    } 

    .lesto-fale-conosco .container form .info{

      width: 100%;

    } 

    div.pg.contato>section.lesto-fale-conosco .container form .area-contato .contato .contato-titulo span:before {

      width: 43%;

    }

    div.pg.contato>section.lesto-fale-conosco .container form .area-contato .contato .lesto-outros-contatos ul li{

      margin:0;

    }

    div.pg.salas>section.salas-lesto .titulo {

      font-size: 17px;

    }

    div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li{

      max-height: initial;

    }

  }



  

  @media(max-width: 570px){

    div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span:before, .lesto-fale-conosco .container form .form-titulo span:before, .lesto-fale-conosco .container form .area-contato .contato-titulo span:before, div.pg.lesto-home>section.lesto-estatistica .titulo span:before, div.pg.planos>section.planos-detalhados .titulo span:before, div.pg.salas>section.salas-lesto .titulo span:before, div.pg.dicas>section.dicas-lesto .conteudo .titulo span:before, div.pg.post>section.post-relacionados .titulo span:before, div.pg.post>section.post-relacionados .titulo span:before{

      width: 50%;

      left: initial;

    }

    div.pg.lesto-home>section.lesto-servicos-oferecidos .titulo span:after, .lesto-fale-conosco .container form .form-titulo span:after, .lesto-fale-conosco .container form .area-contato .contato-titulo span:after, div.pg.lesto-home>section.lesto-estatistica .titulo span:after, div.pg.planos>section.planos-detalhados .titulo span:after, div.pg.salas>section.salas-lesto .titulo span:after, div.pg.dicas>section.dicas-lesto .conteudo .titulo span:after, div.pg.post>section.post-relacionados .titulo span:after{

      right: 60px;

    }

    section.bannerPagina{

      height: 200px;

    }

    div.pg.dicas>section.dicas-lesto .conteudo .titulo span:before {

      max-width: 166px;

      left: 28%;

    }

    .lesto-fale-conosco .container form .form-titulo span:before{

      left: 53px;



    }



    

  }



  @media(max-width: 425px){

    div.pg.lesto-home>section.lesto-quem-somos-home h3{

      font-size: 18px;

      padding: 0;

      margin:0;

    }

    div.pg.lesto-home>section.lesto-servicos-oferecidos .lesto-servico ul li h2{

      font-size: 18px;

    }

    div.pg.lesto-home>section.lesto-quem-somos-home article{

      font-size: 12px;

    }

  

  }



  @media(max-width: 320px){

    div.pg.dicas>section.dicas-lesto .conteudo .titulo span:before {

      max-width: 90px;

      left: 28%;

    }

  

  } 

.containerFull{

  width: 100%;

  max-width: 1230px;

  margin: 0 auto;

  padding: 0 10px;

  }





    .lesto-fale-conosco.contrate{

      background: #2722223d;

      height: 100vh;

      display: none;

      position: fixed;

      width: 100%;

      top: 0;

      z-index: 99;

    }

    .lesto-fale-conosco.contrate .container form .form-titulo span:before{

      width: 87%;



    }

    .lesto-fale-conosco.contrate .container form {

      background: #FFF;

      padding: 20px;

      min-height: 604px;

      max-width: 770px;

      margin: 0 auto;

      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);

      box-shadow: 0 5px 15px rgba(0,0,0,.5);

      margin-top: 15px;

    }

        .lesto-fale-conosco.contrate .container form span.fecharModal{

          width: 100%;

          display: block;

          text-align: right;

          color: #0fa448;

          font-size: 30px;

        }

        .lesto-fale-conosco.contrate .container form span.fecharModal:hover{

          

          font-size: 30px;

        }

    .abrirModalContrate{

      display: block!important;

    }

    .abrirModalDetalhes{

      visibility: visible!important;

    }

    .travarScroll{

      overflow: hidden;

    }

    .sala-detalhes{

      height: 100vh;

      background: rgba(0, 12, 2, 0.82);

      visibility: hidden;

      position: fixed;

      width: 100%;

      top: 0;

      z-index: 99;



    }

         .sala-detalhes .fecharModal {

          width: 35px;

          height: 35px;

          text-align: center;

          position: absolute;

          top: -20px;

          transform: translateY(-50%);

          z-index: 3;

          outline: none;

          background: #8a757500;

          border-radius: 100%;

          right:  -60px;

          border: 1px solid #fff;

          color: #fff;

          padding-top: 5px;

          cursor: pointer; 

        }

           .sala-detalhes .fecharModal i{



          }

         .sala-detalhes .carrosselDetalhes{

          height: auto;

          max-width: 600px;

          /*position: absolute;*/

          /*top: 27%;*/

          /*transform: translatex(-50%);*/

          z-index: 3;

          outline: none;

          /*right: 0;*/

          margin: 12% auto;

          position: relative;



        }

           .sala-detalhes .carrosselDetalhes figure{

            

          }

              .sala-detalhes .carrosselDetalhes figure a{



              }   

                 .sala-detalhes .carrosselDetalhes figure img{



              }

                 .sala-detalhes .carrosselDetalhes button.carrosselDetalhesEsquerda{

                  border: none;

                  width: 35px;

                  height: 35px;

                  text-align: center;

                  position: absolute;

                  top: 50%;

                  transform: translateY(-50%);

                  z-index: 3;

                  outline: none;

                  background: #fff;

                  border-radius: 100%;

                  left: -60px;

                 }

       .sala-detalhes .carrosselDetalhes button.carrosselDetalhesDireita{

        border: none;

        background: #fff;

        width: 35px;

        height: 35px;

        text-align: center;

        position: absolute;

        top: 50%;

        transform: translateY(-50%);

        z-index: 3;

        outline: none;

        right: -60px;

        border-radius: 100%;

      }



       .sala-detalhes .carrosselDetalhes .carrosselDetalhesEsquerda:before {

        content: '';

        display: inline-block;

        width: 15px;

        height: 15px;

        border: 4px solid #000;

        border-bottom: none;

        border-left: none;

        transform: rotate(228deg);

        position: relative;

        top: 3px;

      }

       .sala-detalhes .carrosselDetalhes .carrosselDetalhesDireita:after {

        content: '';

        display: inline-block;

        width: 15px;

        height: 15px;

        border: 4px solid #000;

        border-top: none;

        border-right: none;

        transform: rotate(228deg);

        position: absolute;

        right: 13px;

        top: 10px;

      }

     