/*PAGINA CONTATO*/
  div.pg.contato>section.lesto-fale-conosco .container form .contato{
    max-width: 268px;
    margin: 0 auto;
    margin-bottom: 20px;

  }
  div.pg.contato>section.lesto-fale-conosco .container form .form-info{
  }
    div.pg.contato>section.lesto-fale-conosco .container form .area-contato .contato .contato-titulo {
      min-height: 40px;
      overflow: hidden;
      margin: 0;
      margin-bottom: 20px;
    }
    div.pg.contato>section.lesto-fale-conosco .container form .area-contato .contato .contato-titulo span:before{
      width: 91%;
    }
    div.pg.contato>section.lesto-fale-conosco .container form .area-contato .contato .lesto-outros-contatos ul li{
      margin: 0 16px;
    }
      div.pg.contato>section.lesto-fale-conosco .container form .area-contato .contato .lesto-outros-contatos ul li span{
        font-size:10px;
      }