

/*RODAPÉ*/

  footer{



  }

  footer.lesto-rodape{



    background: var(--Lesto_templateClara);

    padding-top: 20px;

  }

    footer.lesto-rodape .conteudo{



      padding-bottom: 20px;



    }

      footer.lesto-rodape .conteudo ul{



        display: flex;

        justify-content: space-around;

        flex-wrap: wrap;

      }

        footer.lesto-rodape .conteudo ul li{

        }

          footer.lesto-rodape .conteudo ul li .areaLogo{



          }

            footer.lesto-rodape .conteudo ul li .areaLogo img{

              max-width: 142px;

            }

          footer.lesto-rodape .conteudo ul li .info-footer {



            display: flex;

            flex-direction: column;

             }

            footer.lesto-rodape .conteudo ul li .info-footer .titulo {



              font-size: 16px;

              font-weight: 600;

              padding-bottom: 10px;

              }

            footer.lesto-rodape .conteudo ul li .info-footer .contato-footer,

            footer.lesto-rodape .conteudo ul li .info-footer .nav-footer {

              display: flex;

              flex-direction: column;

              color: #fff;

              max-width: 145px;

              font-size: 13px;

              }

              footer.lesto-rodape .conteudo ul li .info-footer .contato-footer span {



                padding: 2px 0;

              }

              footer.lesto-rodape .conteudo ul li .info-footer .nav-footer a{

                color: #fff;

                text-decoration: none;

                padding: 2px 0;

              }

             footer.lesto-rodape .conteudo ul li .info-footer .nav-footer a:before{

                 content: '';

                 display: block;

                 position: absolute;

                 bottom: 0px;

                 height: 3px;

                 background-color: #f1e8e800;

                 transition: .25s ease-in-out;

                 transition-property: background-color,border-color,box-shadow,height,right;

                 left: 0px;

                 right: calc(102% - 14px);

                 z-index: 1;

             }

            footer.lesto-rodape .conteudo ul li .info-footer .nav-footer a:hover:before{

                right: 10px;

                background-color: #f0f1f0;

            }
footer.lesto-rodape .conteudo ul li .nav-footer{
  
}
  footer.lesto-rodape .conteudo ul li .nav-footer ul{
    
  }
    footer.lesto-rodape .conteudo ul li .nav-footer ul li{
      display: block;
      width: 100%;
      padding: 2px 0px;
    }
      footer.lesto-rodape .conteudo ul li .nav-footer ul li a{
        
      }


/*COPYRIGHT*/

  .copyright{

    display: flex;

    justify-content: space-between;

    flex-wrap: wrap;

    padding: 5px;

    border-top: 1px solid #fff;

    color: #fff;

    font-size: 12px;

    }

    .copyright .info{



    }

      .copyright .info p{



      }

    .copyright .redes-sociais{



    }

      .copyright .redes-sociais ul{

        display: flex;

        justify-content: space-around;



      }

        .copyright .redes-sociais ul li{

            padding: 0 6px;

            }

          .copyright .redes-sociais ul li a{

            color: #fff;

            font-size: 15px;

            }