/* TOPO */

  .topo{

    background: transparent;

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 10;

    transition: ease-out .1s;

    -webkit-transition: ease-out .1s;

    -moz-transition: ease-out .1s;

    -o-transition: ease-out .1s;

    padding: 9px;

  }

    .topo a {}

      .topo a img{

        margin: 0 auto;

        max-width: 140px;

        margin-top: 9px;

        transition: ease-in .1s;

        -webkit-transition: ease-in .1s;

        -moz-transition: ease-in .1s;

        -o-transition: ease-in .1s;

      }

    .topo .navbar {

      margin: 0;

      border: none;

      border-radius: 0;

      width: 100%;

      min-height: 0;

    }

      .topo .navbar button {

        position: absolute;

        display: none;

      }

        .topo .navbar button span{}

          .topo .navbar button span.sr-only{}

          .topo .navbar button span.icon-bar{}

    .topo .navbar .navbar-header {

      width: 100%;

    }

      .topo .navbar .navbar-header .navbar-collapse {

        width: 100%;

      }

        .topo .navbar .navbar-header .navbar-collapse .navbar-nav {

         width: 100%;

         float: initial;

         text-align: right;

         font-size: 0;

        }

          .topo .navbar .navbar-header .navbar-collapse .navbar-nav li {

            display: inline-block;

            float: initial;

          }
          .topo .navbar .navbar-header .navbar-collapse .navbar-nav li.icon-user{
            
          }

            .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a {

              font-family: var(--montserrat);

              color: #000;

              padding: 18px 15px;

              font-size: 20px;

              transition: ease-in .1s;

              -webkit-transition: ease-in .1s;

              -moz-transition: ease-in .1s;

              -o-transition: ease-in .1s;

              font-weight: 600;

            }

            .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a.user{

              padding: 0 15px;

            }



            .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a:hover{

              background: #08a74b;

              color: #fff;

              transition: all .3s;

              -webkit-transition: all .3s;

              -moz-transition: all .3s;

              -o-transition: all .3s;

            }

            .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a:focus{

              background: #08a74b;

              color: #fff;

              transition: all .3s;

              -webkit-transition: all .3s;

              -moz-transition: all .3s;

              -o-transition: all .3s;

            }

            .topo .navbar .navbar-header .navbar-collapse .navbar-nav li a.user:hover{

              background: transparent;

            }

  .topo .lesto-icon-user{

    display: block;

    border: 1px solid #000;

    text-align: center;

    border-radius: 100%;

    max-height: 55px;

    max-width: 55px;

    padding: 5px;

    margin: 10px 0px;

  }

    .topo  .lesto-icon-user  img{

      max-height: 30px;

      width: 30px;

      margin: 0;

      padding: 2px;



    }

  .topo.thin{

    background: #fff;

    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.54);



  }

